.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px !important;
}

.hero img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-top: 50px;
}
h2{
    text-align: center;
    width: 70%;
    font-size: 60px;
    font-weight: 600;
}
.hero-header{
    background: linear-gradient(267deg , #DA7C25  0.36% , #B923E1  102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    width: 40%;
    
}
.hero-action-btn{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 16px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg , #DA7C25  0.36% , #B923E1  102.06%);
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    border: 0;
}
.hero-resume{
    padding: 14px 30px;
    border-radius: 50px;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid white;
    color: #fff;
    text-decoration: none;
}
.hero-connect:hover{
     border: 2px solid white;
}
.hero-resume:hover{
    border-color: #B923E1;
    color: #DA7C25;
}

/* Responsive style start here */
 @media(max-width:768px){
    .hero img{
        margin-top: 80px;
        width: 260px;
        height: 260px;
    }
    .hero h2{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action-btn{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
} 


